<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <body>
      <div class="form-container">
        <h1 class="heading">Post Your News</h1>
  
        <p class="message">Error</p>
        <form class="form">
          <div class="input-container">
            <label class="label" for="title">Title <sup>*</sup></label>
            <input type="text" name="title" id="title" class="input" />
          </div>
          <div class="input-container">
            <label class="label" for="content">Content <sup>*</sup></label>
            <textarea
              name="content"
              id="content"
              cols="30"
              rows="10"
              class="input"
            ></textarea>
          </div>
          <div class="input-container">
            <label for="thumbnail">Thumbnail <sup>*</sup></label>
            <input type="file" name="thumbnail" id="thumbnail" />
          </div>
          <div class="input-container">
            <select name="category" id="category">
              <option value="0">Category <sup>*</sup></option>
              <option value="tech">Tech</option>
              <option value="political">Political</option>
              <option value="entertainment">Entertainment</option>
            </select>
          </div>
          <div class="input-container featured-container">
            <input type="checkbox" name="featured" id="featured-content" />
            <label for="featured-content">Featured Content</label>
          </div>
          <div class="input-container">
            <input type="submit" value="SUBMIT" class="btn" />
          </div>
        </form>
        <div class="test"></div>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
      <script src="/javascripts/index.js"></script>
    </body>
  </html>
  </body>
</html>
